@use "../abstracts/variables" as *;

@mixin rwd($pixels, $type: max) {
  @if $type ==max or $type ==min {
    @media (#{$type}-width: #{$pixels}px) {
      @content;
    }
  } @else {
    @error "Invalid value for $type: '#{$type}'. Only 'max' or 'min' are allowed.";
  }
}

@mixin flex($justify: center, $align: center, $gap: 0, $flow: row nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-flow: $flow;
  @content;
}

@mixin position(
  $position: fixed,
  $top: 50%,
  $right: auto,
  $bottom: auto,
  $left: 0,
  $width: auto,
  $height: auto
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: $width;
  height: $height;
}

@mixin positioning ($position: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto, $width: auto, $height: auto) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    width: $width;
    height: $height;

    @if($left == 50% and $top == 50%) {
        transform: translate(-50%, -50%);
    }

    @else if($right == 50% and $top == 50%) {
        transform: translate(50%, -50%);
    }

    @else if($top == 50%) {
        transform: translateY(-50%);
    }

    @else if($bottom == 50%) {
        transform: translateY(50%);
    }

    @else if($left == 50%) {
        transform: translateX(-50%);
    }

    @else if($right == 50%) {
        transform: translateX(50%);
    }
}
