@use "../abstracts/index" as *;

.home-hero {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: -11rem;
    left: 0;
    width: 100%;
    height: calc(100% + 11rem);
    background: url(../../assets/img/lawyer-environment.jpg) no-repeat center/cover;
    z-index: -1;

    @include rwd(1200) {
      height: calc(100% + 5rem);
      top: -5rem;
    }
  }

  &__content {
    padding-block: 27.1rem 19.2rem;

    @include rwd(768) {
      text-align: center;
      padding-block: 0;
      @include flex($flow: column, $align: center);
      height: calc(100vh - 5rem);
    }

    &-suptitle {
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 3.1rem;
      text-transform: uppercase;
      color: $primary-color;

      @include rwd(768) {
        font-size: 1.6rem;
        line-height: 1.9rem;
      }

      @include rwd(320) {
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
    }

    &-title {
      font-size: 9.6rem;
      font-weight: 700;
      line-height: 9.6rem;
      text-transform: uppercase;
      margin-inline-start: -.7rem;

      @include rwd(768) {
        font-size: 4.8rem;
        line-height: 6.7rem;
      }

      @include rwd(320) {
        font-size: 3.8rem;
        line-height: 5.7rem;
      }
    }

    &-text {
      line-height: 2.6rem;
      margin-bottom: 4rem;

      @include rwd(768) {
        font-size: 1.4rem;
        line-height: 2.4rem;
      }

      @include rwd(320) {
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }

    .bttn-primary-m {
      margin-inline-end: 1.6rem;

      @include rwd(380) {
        display: flex;
        margin-inline: auto;
        margin-block-end: 2rem;
      }
    }

    .bttn {
      @include rwd(380) {
        display: flex;
        margin-inline: auto;
      }
    }
  }
}

.law-section {
  background-color: $bg-color-secondary;
  scroll-margin-top: $scrolMarginTop;

  &__content {
    @include flex($justify: space-between, $align: center, $gap: 8rem);
    padding-block: 7.4rem;
    color: $dark-color;

    @include rwd(1240) {

      &__txt-box,
      &__list-box {
        flex: 1;
      }
    }

    @include rwd(992) {
      flex-direction: column;
    }

    &__txt-box {
      max-width: 58.5rem;
    }

    &__list-box {
      max-width: 56rem;
    }

    .txt-box {
      &__title {
        font-size: 4.8rem;
        line-height: 5.3rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
        max-width: 58.5rem;

        @include rwd(992) {
          text-align: center;
        }

        span {
          color: $primary-color;
        }
      }

      &__text {
        line-height: 2.6rem;

        @include rwd(992) {
          text-align: center;
        }
      }
    }

    hr {
      width: 5.5rem;
      height: 0.4rem;
      background-color: $primary-color;
      margin-block: 3.6rem 3.5rem;

      @include rwd(992) {
        margin-inline: auto;
      }
    }

    .list-box {
      &__item {
        @include flex($justify: center, $align: center, $gap: 3.3rem);
        padding-block: 3.2rem 2.6rem;
        padding-inline: 3.7rem 2.7rem;

        &:first-child {
          i {
            width: 1.7rem;
          }
        }

        &:nth-child(2) {
          border-top-left-radius: 2rem;
          border-top-right-radius: 2rem;
          background: $bg-color-primary;
          color: $light-color;
          box-shadow: -.7rem .4rem 1.03rem 0 #00000040 inset;

          i {
            width: 1.9rem;
          }
        }

        &:last-child {
          i {
            width: 2.5rem;
          }
        }

        .icon-box {
          background-color: $dark-color;
          border-radius: 50%;
          width: 6.4rem;
          line-height: 6.4rem;
          flex-shrink: 0;
          text-align: center;

          i {
            height: 2.5rem;
          }
        }

        &-title {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 2.5rem;
          margin-bottom: .8rem;
          text-transform: uppercase;
        }

        &-text {
          font-size: 1.4rem;
          line-height: 2.1rem;
        }
      }
    }
  }
}

.justice-section {
  padding-block-start: 9.1rem;

  &__content {
    @include flex($justify: space-between, $align: center, $gap: 7rem);

    @include rwd(992) {
      flex-direction: column;
      gap: 8rem;
    }

    @include rwd(1240) {

      &__img-block,
      &__txt-block {
        flex: 1;
      }
    }

    &__img-block {
      margin-top: auto;

      img {
        width: 100%;
      }
    }

    &__txt-block {
      max-width: 59.1rem;
      text-align: end;
      text-transform: uppercase;
      padding-block-end: 7rem;

      @include rwd(992) {
        text-align: center;
        padding-block-end: 9.1rem;
      }
    }
  }

  .txt-block {
    &__title {
      font-size: 5.6rem;
      line-height: 6.7rem;
      font-weight: 700;
      margin-bottom: 0.8rem;
    }

    &__subtitle {
      font-size: 2.4rem;
      line-height: 2.8rem;
      font-weight: 400;
      margin-bottom: 3.6rem;
      color: $primary-color;
    }

    &__text {
      font-size: 1.6rem;
      line-height: 2.6rem;
      text-transform: initial;
    }

    &__signature {
      font-size: 1.4rem;
      line-height: 1.6rem;
      color: $primary-color;
      margin-top: 1.6rem;
    }
  }
}