@use "../abstracts/index" as *;

.law-areas {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: -11rem;
    left: 0;
    width: 100%;
    height: calc(100% + 11rem);
    background: url(../../assets/img/building.jpg) no-repeat center/cover;
    z-index: -1;

    @include rwd(1200) {
      height: calc(100% + 5rem);
      top: -5rem;
    }
  }

  &__content {
    padding-block: 20.1rem 15.5rem;
    text-align: center;

    @include rwd(768) {
      text-align: center;
      padding-block: 0;
      @include flex($flow: column, $align: center);
      height: calc(100vh - 5rem);
    }

    &-text {
      font-size: 2rem;
      line-height: 2.6rem;
      margin-bottom: 2rem;
      color: $primary-color;
      text-transform: uppercase;

      @include rwd(768) {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }

      @include rwd(320) {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }

    &-title {
      font-size: 4rem;
      font-weight: 700;
      line-height: 4rem;
      text-transform: uppercase;
      margin-block-end: 1.6rem;

      @include rwd(768) {
        font-size: 2.5rem;
        line-height: 6.7rem;
      }

      @include rwd(320) {
        font-size: 2rem;
        line-height: 5.7rem;
      }
    }
    
    &-arrow {
    width: 32px;
    height: 32px;
    border: 1px solid $light-color;
    border-radius: 50%;
    @include flex(center, center, 0, row);
    margin-inline: auto;
    

    @include rwd(768) {
      @include flex($flow: column, $align: center);
    }
    }
  }
}

.law-help {
  background: linear-gradient(90deg, #111111, #292929);
  padding: 4rem 0;
  width: 100%;
  display: block;

  &__content {
    @include flex(space-between, center, 2rem, wrap);
  

    @include rwd(768) {
      text-align: center;
      padding: 2rem 1rem;
      @include flex($flow: column, $align: center, $gap: 2rem);
    }

    &-title {
      font-size: 4rem;
      font-weight: 500;
      line-height: 1.1;
      margin-block-end: 1.6rem;
      max-width: 600px;
      
      @include rwd(800) {
        font-size: 2.8rem;
        line-height: 4.7rem;
      }

      @include rwd(320) {
        font-size: 1.8rem;
        line-height: 4.7rem;
      }
    }

    &-text {
      font-size: 1.6rem;
      line-height: 2.6rem;
      margin-top: 1rem;
      max-width: 500px;

      @include rwd(768) {
        font-size: 1.4rem;
        line-height: 2.4rem;
      }

      @include rwd(320) {
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }

    &-img {
      max-width: 100%;
      display: flex;
      justify-content: center;
    
      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }

    .bttn-primary-m {
      margin-inline-end: 1.6rem;
      margin-top: 4rem;

      @include rwd(380) {
        display: flex;
        margin-inline: auto;
        margin-block-end: 3rem;
      }
    }
  }
}