@use '../abstracts/index' as *;

.bttn {
    display: inline-flex;
    background: #000000D9;
    color: $light-color;
    padding-block: 1.4rem;
    padding-inline: 2.5rem;
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    border-radius: .5rem;
    border: 0.1rem solid $primary-color;
    cursor: pointer;
    gap: 1rem;

    &::first-letter {
        text-transform: uppercase;
    }

    &-primary {
        @extend .bttn;
        border: none;
        padding-block: 1.5rem;

        &-m {
            @extend .bttn-primary;
            background: $bttn-bg-primary-m;
        }

        &-l {
            @extend .bttn-primary;
            background: $bttn-bg-primary-l;
            font-size: 1.6rem;
            line-height: 1.8rem;
        }
    }

    &-secondary {
        @extend .bttn;
        border: none;
        padding-block: 1.5rem;
        padding-inline: 4.5rem;
        background-color: $dark-color;
        font-size: 1.6rem;
        line-height: 2rem;
        box-shadow: 0 0 1.4rem 0 #0000001F;

        @include rwd(768) {
            padding-inline: 2.5rem;
        }
    }

    &:hover {
        background: $primary-color;
    }
}