@use "../abstracts/variables" as *;

.icon {
    display: inline-block;
    width: min-content;
    width: 2.1rem;
    height: 2.1rem;
    background-color: $primary-color;
    vertical-align: middle;

    &-clock {
        @extend .icon;
        -webkit-mask: url("../../assets/img/icons/clock-icon.svg") no-repeat center / 100% 100%;
        mask: url("../../assets/img/icons/clock-icon.svg") no-repeat center / 100% 100%;
    }

    &-phone {
        @extend .icon;
        -webkit-mask: url("../../assets/img/icons/phone-icon.svg") no-repeat center / 100% 100%;
        mask: url("../../assets/img/icons/phone-icon.svg") no-repeat center / 100% 100%;
    }

    &-envelope {
        @extend .icon;
        -webkit-mask: url("../../assets/img/icons/envelope-icon.svg") no-repeat center / 100% 100%;
        mask: url("../../assets/img/icons/envelope-icon.svg") no-repeat center / 100% 100%;
    }

    &-envelope-2 {
        @extend .icon;
        -webkit-mask: url("../../assets/img/icons/envelope-icon-2.svg") no-repeat center / 100% 100%;
        mask: url("../../assets/img/icons/envelope-icon-2.svg") no-repeat center / 100% 100%;
    }

    &-map {
        @extend .icon;
        -webkit-mask: url("..../../assets/img/icons/map-icon.svg") no-repeat center / 100% 100%;
        mask: url("../../assets/img/icons/map-icon.svg") no-repeat center / 100% 100%;
    }

    &-in {
        @extend .icon;
        -webkit-mask: url("..../assets/img/icons/in-icon.svg") no-repeat center / 100% 100%;
        mask: url("../../assets/img/icons/in-icon.svg") no-repeat center / 100% 100%;
    }

    &-circle-arrow-right {
        @extend .icon;
        -webkit-mask: url("../../assets/img/icons/circle-arrow-right-icon.svg") no-repeat center / 100% 100%;
        mask: url("../../assets/img/icons/circle-arrow-right-icon.svg") no-repeat center / 100% 100%;
    }

    &-arrow-up {
        @extend .icon;
        -webkit-mask: url("../../assets/img/icons/arrow-up-icon.svg") no-repeat center / 100% 100%;
        mask: url("../../assets/img/icons/arrow-up-icon.svg") no-repeat center / 100% 100%;
    }

    &-arrow-down {
        @extend .icon;
        -webkit-mask: url("../../assets/img/icons/arrow-down-icon.svg") no-repeat center / 100% 100%;
        mask: url("../../assets/img/icons/arrow-down-icon.svg") no-repeat center / 100% 100%;
    }

    &-law-1 {
        @extend .icon;
        -webkit-mask: url("../../assets/img/icons/law-1-icon.svg") no-repeat center / 100% 100%;
        mask: url("../../assets/img/icons/law-1-icon.svg") no-repeat center / 100% 100%;
    }

    &-law-2 {
        @extend .icon;
        -webkit-mask: url("../../assets/img/icons/law-2-icon.svg") no-repeat center / 100% 100%;
        mask: url("../../assets/img/icons/law-2-icon.svg") no-repeat center / 100% 100%;
    }

    &-law-3 {
        @extend .icon;
        -webkit-mask: url("../../assets/img/icons/law-3-icon.svg") no-repeat center / 100% 100%;
        mask: url("../../assets/img/icons/law-3-icon.svg") no-repeat center / 100% 100%;
    }
}