@use "../abstracts/index" as *;

.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../../assets/img/footer.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 1.4rem;
    line-height: 2.6rem;

    @include rwd(1440) {
        background-position: center 30%;
    }

    @include rwd(1240) {
        background-position: center 20%;
    }

    @include rwd(992) {
        background-position: center top;
    }

    &__content {
        @include flex($justify: space-between, $align: stretch, $gap: 4rem);
        padding-block: 7.8rem 3.1rem;

        @include rwd(768) {
            flex-direction: column;
        }

        .footer__about {
            display: flex;
            flex-direction: column;
            position: relative;

            @include rwd(1024) {
                flex: 1;
            }

            &-logo {
                margin-block-end: 2.7rem;
                max-width: 22.8rem;
            }

            &-link {
                margin-top: auto;

                @include rwd(768) {
                    @include positioning($right: 0, $bottom: .3rem)
                }

                @include rwd(430) {
                    all: unset;
                    margin-top: 2.7rem;
                }

                i {
                    width: 1.6rem;
                    height: 1.6rem;
                    background-color: $light-color;

                    @include rwd(430) {
                        width: 2.1rem;
                        height: 2.1rem;
                    }
                }
            }
        }

        .footer__nav {
            @include flex($justify: flex-start, $align: flex-start, $gap: 10rem, $flow: row wrap);

            @include rwd(1200) {
                gap: 4rem;
            }

            @include rwd(1024) {
                flex: 1;
                justify-content: space-between;
            }

            @include rwd(320) {
                @include flex($flow: column, $align: flex-start, $gap: 4rem);
            }

            &-section {
                .nav-title {
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    font-weight: 600;
                    text-decoration: underline;
                    text-decoration-color: $primary-color;
                    text-decoration-thickness: .15rem;
                    text-underline-offset: 1.6rem;
                    margin-block-end: 3.9rem;
                }

                .nav {
                    &__list {
                        &:not(:last-of-type) {
                            margin-bottom: 1.2rem;
                        }

                        i {
                            margin-inline-end: 1.5rem;
                            width: 1.8rem;
                            height: 1.8rem;
                        }
                    }
                }

                &:last-of-type {
                    .nav__list {
                        &:first-of-type {
                            span {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }

    hr {
        border-top: .1rem solid $primary-color;
        transform: scaleY(0.2)
    }

    &__copyright {
        @include flex($justify: space-between, $align: center, $gap: 2rem);
        padding-block: 1.8rem;
        font-size: 1.2rem;
        font-weight: 500;

        @include rwd(320) {
            @include flex($flow: column, $align: flex-start, $gap: 4rem);
        }

        p {
            span {
                @include rwd(568) {
                    display: block;
                }
            }

        }

        p:last-of-type {
            span {
                font-weight: 700;
            }
        }
    }
}