@use "../abstracts/index" as *;

.navigation-section {
    @include positioning($position: sticky, $top: 0, $left: 0, $width: 100%);
    background: transparent;
    padding-block: 3rem;
    z-index: 2;

    @include rwd(1200) {
        padding-block: 3rem 0;
    }

    .nav {
        @include flex($justify: space-between);

        @include rwd(768) {
            display: block;
        }

        &__logo {
            @include rwd(1200) {
                margin-inline-start: auto;
            }

            &-desktop {
                width: 20rem;

                @include rwd(1200) {
                    display: none;
                }
            }

            &-mobile {
                display: none;

                @include rwd(1200) {
                    width: 8rem;
                    display: block;
                }
            }
        }

        &__list {
            @include flex($justify: flex-start, $gap: 3rem);

            @include rwd(1200) {
                display: none;
            }

            .dropdown {
                position: relative;

                &>a {
                    &:after {
                        content: url(../../assets/img/icons/arrow-down-icon.svg);
                        margin-inline-start: .6rem;
                    }
                }

                &-menu {
                    pointer-events: none;
                    opacity: 0;
                    position: absolute;
                    top: calc(100% + 20rem);
                    left: 0;
                    background: #232323;
                    border-radius: .5rem;
                    padding-block: 1.7rem 1.8rem;
                    padding-inline: 2.5rem;
                    font-size: 1.4rem;
                    line-height: 1.5rem;
                    font-weight: 500;
                    letter-spacing: .05rem;
                    border: .1rem solid #F1F1F126;

                    a {
                        display: inline-block;
                        white-space: nowrap;

                        &:not(:last-of-type) {
                            margin-bottom: 1.6rem;
                        }

                        &:hover,
                        &.active {
                            color: $primary-color ;
                        }
                    }
                }

                &:hover {
                    .dropdown-menu {
                        pointer-events: all;
                        opacity: 1;
                        top: calc(100% + 1rem);

                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            width: 100%;
                            height: 1.3rem;
                            top: -1.3rem;
                        }
                    }

                    &>a {
                        &:after {
                            content: url(../../assets/img/icons/arrow-up-icon.svg);
                            margin-inline-start: .6rem;
                        }
                    }
                }
            }

            li {
                line-height: 1.8rem;
            }
        }

        &__link {
            display: inline-block;

            &:not(.bttn-primary-l) {
                font-weight: 500;

                &:hover,
                &.active {
                    color: $primary-color ;
                }
            }

            &.bttn-primary-l {
                margin-inline-start: .7rem;
            }
        }

        &__hamburger {
            @include flex($justify: space-between, $align: stretch, $flow: column);
            width: 3rem;
            height: 2rem;
            cursor: pointer;
            display: none;
            position: relative;
            margin-inline: 1rem;

            @include rwd(1200) {
                &::before {
                    content: "";
                    position: absolute;
                    top: calc(-50% - 3.2rem);
                    left: calc(50% - 2rem);
                    transform: translate(calc(-50% + 2rem), 50%);
                    width: calc(100% + 2rem);
                    height: calc(100% + 3rem);
                    background-color: transparent;
                    border-radius: 50%;
                    z-index: -1;
                }
            }

            .line {
                width: 100%;
                height: .3rem;
                background-color: $primary-color;
            }

            .line:nth-child(2) {
                width: 80%;
            }

            @include rwd(1200) {
                display: flex;
            }

            @include rwd(768) {
                margin-inline-start: auto;
            }
        }

        .mobile-menu {
            @include positioning($position: fixed, $top: 0, $bottom: 0, $left: 0, $width: 65%);
            @include flex($flow: column, $gap: 3.2rem);
            background-color: $dark-color;
            transform: translateX(-100%);
            padding: 0 1.6rem;

            @include rwd(568) {
                width: 100%;
            }

            #close {
                @include positioning($position: fixed, $top: 1.5rem, $right: 2rem);
                color: $primary-color;
                font-size: 3.2rem;
                font-style: normal;
                cursor: pointer;
            }

            &__list {
                text-align: center;
                @include flex($flow: column, $gap: 2rem);
            }

            &__link {
                font-weight: 700;
                text-transform: uppercase;

                &.active {
                    color: $primary-color ;
                }
            }
        }
    }

    &.scrolled {
        background-color: $dark-color;

        @include rwd(1200) {
            background-color: transparent;
        }

        .nav {
            &__hamburger {
                @include rwd(1200) {
                    &::before {
                        background-color: $dark-color;
                        border: .1rem solid $primary-color;
                    }
                }
            }
        }
    }

    #nav-toggle {
        &:checked {
            &~.mobile-menu {
                transform: translateX(0);
            }
        }
    }
}