@use "abstracts/index" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .4s linear;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;

    &::first-letter {
        text-transform: uppercase;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-family;
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 400;
    background-color: $bg-color-dark;
    color: $light-color;
    min-height: 100vh;
}

.container {
    width: 100%;
    margin-inline: auto;

    &-l {
        @extend .container;
        width: 90%;
        max-width: 124.6rem;
    }

    &-m {
        @extend .container;
        width: 90%;
        max-width: 119.6rem;
    }
}

img {
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
